.wallpaper {
	position:absolute;
	top:121px;
	left:38px;
}

.apps {
	border-radius: 10px;
	width: 100%;
}


.wallpaper {
	height: 736px;
	width: 416px
}

.rows div {
	display:inline-block;
	margin:10px;
/*	//this one is hardcored*/
	width:82px;
}

.container {
	position:absolute;
	top:121px;
	left:37px;
	margin: 20px 0px;
}

